.navbutton{
    background-color:darkkhaki;
    padding: 10px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}

/* This turns the drop down off when not used */
.dropdownbox{
    display: none;
    position: absolute;
    z-index: 100;
    padding-top: 20px;
    margin-left: -30px;
}

/* this class turns the dropdown menu on during hover */
.navbutton:hover .dropdownbox{
    display: block;
}

.dropdownbox .navbutton{
    background-color: rgb(185, 110, 110);
}

.dropdownbox .navbutton:hover{
    background-color: rgb(221, 144, 92);
    transition-duration: 0.5s;
}